/* Her har vi styles til vores grundlæggende setup og mobil */
/* ------------------------------------------------------------- */


* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
	margin: 0; /* Ingen kanter i siden af browser */
background-color: #4f5852 !important;


}
h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img{
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}


.nav-link {
	padding-right: .5rem !important;
	padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
	left: auto !important;
	right: 0;
}

.btn-danger{
	height: 50px;
	width: 100px;
}

.list:hover{
	background-color: #8e2d21 !important;
}

.nav-link:hover{
	background-color: #8e2d21 !important;
}

.list-group-item:hover{
	color: #ffffff;
}