/* ------------------------------------------------------------- */
/* BOOTSTRAP START */

/* Her retter vi standard farverne i Bootstrap */
$theme-colors: (
	"primary": #4F5854,
	"secondary": #1D2025,
	"danger": #8E2D21,
	"light": #FFFFFF,
	"info": #894,
	"warning": #822,
	"success": #ddd,
	"dark": #333
);

/* Her retter vi margin og padding (p-1, p-2, pb-1.... og m-1, m-2, mt-1 osv) */
$spacer: 100px;

/* Her importerer vi Bootstrap i vores egen css - Dvs bootstrap css filen skal ikke længere være i vores HTML dokument */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Her retter vi noget fra bootstrap som ikke kan ændres via variabler */
ul ol {
	margin-bottom: 20px;
}

body {
	margin: 0; /* Ingen kanter i siden af browser */
	background: rgba(79,88,84,0.85) !important;

}
/* BOOTSTRAP SLUT */
/* ------------------------------------------------------------- */
/* EGEN CSS START */

/* Her henter vi vores eget stylesheet (det der før hed styles.css) - nu har vi kaldt det _myStyles.scss */
@import "myStyles";

/* EGEN CSS SLUT */
/* ------------------------------------------------------------- */
/* EGEN RESPONSIVE CSS START */

/* Her henter vi vores tablet version _tablet.scss */
@import "tablet";

/* Her henter vi vores computer version _tablet.scss */
@import "computer";

/* EGEN RESPONSIVE CSS SLUT */
/* ------------------------------------------------------------- */